*.bak*
*.backup*
*.swp
*.swo
*~
.DS_Store
Thumbs.db

lazy-lock.json
yarn.lock
package-lock.json
pnpm-lock.yaml
Cargo.lock
Gemfile.lock
go.sum

.neoconf.json

doc/tags
data/
.cache/
.debug
.repro
foo.*
Antigravity/
Cache/
Code\ Cache/
GPUCache/
fcitx5/.config/fcitx5/conf/*.conf_*

omarchy/.config/omarchy/themes/black_arch/
omarchy/.config/omarchy/themes/harbordark/
omarchy/.config/omarchy/themes/pink-blood-omarchy/

# Omarchy generated theme outputs
omarchy/.config/omarchy/current/
gtk-3.0/.config/gtk-3.0/gtk.css
gtk-4.0/.config/gtk-4.0/gtk.css

logs/

.env
.env.local
*.cred
*.key
